USE [PTC-Pluralsight]
GO


/****** Object:  Schema [Security]    Script Date: 3/11/2018 1:41:13 PM ******/
CREATE SCHEMA [Security]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 3/11/2018 1:41:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 3/11/2018 1:41:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ProductId] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](80) NULL,
	[IntroductionDate] [datetime] NULL,
	[Price] [money] NULL,
	[Url] [nvarchar](255) NULL,
	[CategoryId] [int] NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Security].[User]    Script Date: 3/11/2018 1:41:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Security].[User](
	[UserId] [uniqueidentifier] NOT NULL,
	[UserName] [varchar](255) NOT NULL,
	[Password] [varchar](255) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [Security].[UserClaim]    Script Date: 3/11/2018 1:41:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Security].[UserClaim](
	[ClaimId] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[ClaimType] [varchar](100) NOT NULL,
	[ClaimValue] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Category] ON 
GO
INSERT [dbo].[Category] ([CategoryId], [CategoryName]) VALUES (1, N'Services')
GO
INSERT [dbo].[Category] ([CategoryId], [CategoryName]) VALUES (2, N'Training')
GO
INSERT [dbo].[Category] ([CategoryId], [CategoryName]) VALUES (3, N'Information')
GO
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 
GO
INSERT [dbo].[Product] ([ProductId], [ProductName], [IntroductionDate], [Price], [Url], [CategoryId]) VALUES (1, N'SQL Server Naming Standards', CAST(N'2015-02-01T00:00:00.000' AS DateTime), 1.0000, N'http://www.pdsa.com/downloads', 3)
GO
INSERT [dbo].[Product] ([ProductId], [ProductName], [IntroductionDate], [Price], [Url], [CategoryId]) VALUES (3, N'VB.NET Development Standards', CAST(N'2015-04-01T00:00:00.000' AS DateTime), 22.0000, N'http://www.pdsa.com/downloads', 3)
GO
INSERT [dbo].[Product] ([ProductId], [ProductName], [IntroductionDate], [Price], [Url], [CategoryId]) VALUES (5, N'VS.NET Standards', CAST(N'2015-06-01T00:00:00.000' AS DateTime), 22.0000, N'http://www.pdsa.com/downloads', 3)
GO
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
INSERT [Security].[User] ([UserId], [UserName], [Password]) VALUES (N'4a1947ec-099c-4532-8105-64cf8c8b4b94', N'MarcosRoig', N'hello1234')
GO
INSERT [Security].[User] ([UserId], [UserName], [Password]) VALUES (N'898c9784-e31f-4f37-927f-a157eb7ca215', N'FulvioMucci', N'hello1234')
GO
INSERT [Security].[UserClaim] ([ClaimId], [UserId], [ClaimType], [ClaimValue]) VALUES (N'a3530e23-bea8-4e68-807e-86db9e80db11', N'898c9784-e31f-4f37-927f-a157eb7ca215', N'CanAddProduct', N'false')
GO
INSERT [Security].[UserClaim] ([ClaimId], [UserId], [ClaimType], [ClaimValue]) VALUES (N'cbb1b376-e315-400f-8457-6d0753c24f0f', N'4a1947ec-099c-4532-8105-64cf8c8b4b94', N'CanAccessProducts', N'true')
GO
INSERT [Security].[UserClaim] ([ClaimId], [UserId], [ClaimType], [ClaimValue]) VALUES (N'408b006c-e76e-4503-aee9-1985a4a3786a', N'4a1947ec-099c-4532-8105-64cf8c8b4b94', N'CanAddProduct', N'true')
GO
/****** Object:  Index [PK__User__1788CC4D72609948]    Script Date: 3/11/2018 1:41:13 PM ******/
ALTER TABLE [Security].[User] ADD  CONSTRAINT [PK__User__1788CC4D72609948] PRIMARY KEY NONCLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK__UserClai__EF2E139A0133A934]    Script Date: 3/11/2018 1:41:13 PM ******/
ALTER TABLE [Security].[UserClaim] ADD  CONSTRAINT [PK__UserClai__EF2E139A0133A934] PRIMARY KEY NONCLUSTERED 
(
	[ClaimId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [Security].[User] ADD  CONSTRAINT [DF__User__UserId__31B762FC]  DEFAULT (newid()) FOR [UserId]
GO
ALTER TABLE [Security].[UserClaim] ADD  CONSTRAINT [DF__UserClaim__Claim__3493CFA7]  DEFAULT (newid()) FOR [ClaimId]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Category] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Category] ([CategoryId])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Category]
GO
ALTER TABLE [Security].[UserClaim]  WITH CHECK ADD  CONSTRAINT [FK_UserClaim_User] FOREIGN KEY([UserId])
REFERENCES [Security].[User] ([UserId])
GO
ALTER TABLE [Security].[UserClaim] CHECK CONSTRAINT [FK_UserClaim_User]
GO